target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/gradle-wrapper.jar
!**/src/test/resources/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/resources/bin/
!**/src/test/resources/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/out/
!**/src/test/resources/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System Files ###
Thumbs.db
Desktop.ini
.DS_Store
